/* header and footer*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');
*{
/*   // box-sizing: border-box;*/
    margin: 0;
    border: 10px;
    padding:0;
    
}

li,a,button{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: black;
    text-decoration: none;
}
header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
   // border: 10px;
    background-color: #ffd369;
    height: 150px;
}
.logo{
    cursor: pointer;
    margin-right: auto;
}

.nav_links{
    list-style: none;
    
}

.nav_links li{
    display: inline-block;
    padding: 0px 15px;
    
    
}

.nav_links a{
    transition: all 0.3 ease 0s;
}

.nav_links li a:hover{
    color: green;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }

button{
    
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
